-- Fix schema_migrations version column type to prevent bigint/text casting errors in Supabase CLI
DO $$
BEGIN
  IF EXISTS (
    SELECT 1 FROM information_schema.columns 
    WHERE table_schema = 'supabase_migrations' 
    AND table_name = 'schema_migrations' 
    AND column_name = 'version'
  ) THEN
    ALTER TABLE supabase_migrations.schema_migrations ALTER COLUMN version TYPE text;
  END IF;
END $$;
-- =====================================================
-- ENCRYPTION FUNCTIONS FOR PII
-- =====================================================

-- Function to encrypt PII fields using pgcrypto
CREATE EXTENSION IF NOT EXISTS pgcrypto;

-- Encryption key (in production, use a secure key management system)
-- This is a simplified approach; for production, use proper key management
CREATE OR REPLACE FUNCTION encrypt_pii(value TEXT)
RETURNS TEXT AS $$
BEGIN
  IF value IS NULL OR value = '' THEN
    RETURN value;
  END IF;
  -- Use pgcrypto to encrypt with a simple key
  -- In production, use proper key management
  RETURN encode(encrypt(value::bytea, decode('your-encryption-key-here-32-chars-minimum', 'utf-8'), 'aes'), 'base64');
EXCEPTION
  WHEN OTHERS THEN
    -- If encryption fails, return plain text (better than losing data)
    RETURN value;
END;
$$ LANGUAGE plpgsql;

CREATE OR REPLACE FUNCTION decrypt_pii(value TEXT)
RETURNS TEXT AS $$
BEGIN
  IF value IS NULL OR value = '' THEN
    RETURN value;
  END IF;
  -- Check if it looks like encrypted data (base64)
  IF value ~ '^[A-Za-z0-9+/]*={0,2}$' AND length(value) > 20 THEN
    BEGIN
      RETURN convert_from(decrypt(decode(value, 'base64'), decode('your-encryption-key-here-32-chars-minimum', 'utf-8'), 'aes'), 'utf-8');
    EXCEPTION
      WHEN OTHERS THEN
        RETURN value;
    END;
  END IF;
  RETURN value;
END;
$$ LANGUAGE plpgsql;

-- Trigger function to auto-encrypt PII on insert/update
CREATE OR REPLACE FUNCTION encrypt_student_pii()
RETURNS TRIGGER AS $$
BEGIN
  IF NEW.phone IS NOT NULL AND NEW.phone !~ '^[A-Za-z0-9+/]*={0,2}$' THEN
    NEW.phone := encrypt_pii(NEW.phone);
  END IF;
  IF NEW.parent_phone IS NOT NULL AND NEW.parent_phone !~ '^[A-Za-z0-9+/]*={0,2}$' THEN
    NEW.parent_phone := encrypt_pii(NEW.parent_phone);
  END IF;
  IF NEW.email IS NOT NULL AND NEW.email !~ '^[A-Za-z0-9+/]*={0,2}$' THEN
    NEW.email := encrypt_pii(NEW.email);
  END IF;
  IF NEW.address IS NOT NULL AND NEW.address !~ '^[A-Za-z0-9+/]*={0,2}$' THEN
    NEW.address := encrypt_pii(NEW.address);
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;


-- =====================================================

-- 1. COACHES TABLE
CREATE TABLE IF NOT EXISTS coaches (
  id TEXT PRIMARY KEY,
  name TEXT NOT NULL,
  email TEXT,
  phone TEXT,
  specialization TEXT,
  experience INTEGER,
  rating INTEGER DEFAULT 0,
  bio TEXT,
  status TEXT DEFAULT 'active',
  hourly_rate INTEGER DEFAULT 0,
  availability TEXT,
  photo_url TEXT,
  address TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now())
);

-- 2. STUDENTS TABLE
CREATE TABLE IF NOT EXISTS students (
  id TEXT PRIMARY KEY,
  name TEXT NOT NULL,
  phone TEXT NOT NULL,
  parent_phone TEXT,
  email TEXT,
  age INTEGER,
  grade TEXT DEFAULT 'Beginner', -- Level
  parent_name TEXT,
  address TEXT,
  enrollment_date DATE DEFAULT CURRENT_DATE,
  status TEXT DEFAULT 'pending',
  coach_id TEXT REFERENCES coaches(id) ON DELETE SET NULL,
  rating INTEGER DEFAULT 800,
  session_mode TEXT,
  session_time TEXT,
  monthly_fee INTEGER DEFAULT 5000,
  notes TEXT,
  account_status TEXT DEFAULT 'active',
  due_date DATE,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now())
);

-- 3. PAYMENTS TABLE (History)
CREATE TABLE IF NOT EXISTS payments (
  id TEXT PRIMARY KEY,
  student_id TEXT REFERENCES students(id) ON DELETE CASCADE,
  amount NUMERIC NOT NULL,
  currency TEXT DEFAULT 'INR',
  status TEXT DEFAULT 'paid',
  payment_method TEXT,
  transaction_id TEXT,
  description TEXT,
  payment_date TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()),
  created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now())
);

-- =====================================================
-- ROW LEVEL SECURITY (RLS)
-- =====================================================

ALTER TABLE coaches ENABLE ROW LEVEL SECURITY;
ALTER TABLE students ENABLE ROW LEVEL SECURITY;
ALTER TABLE payments ENABLE ROW LEVEL SECURITY;

-- Allow all for easier admin access (Standard Academy pattern)
DO $$
BEGIN
    -- Coaches policies
    IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE policyname = 'Allow all on coaches') THEN
        CREATE POLICY "Allow all on coaches" ON coaches FOR ALL USING (true);
    END IF;
    
    -- Students policies
    IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE policyname = 'Allow all on students') THEN
        CREATE POLICY "Allow all on students" ON students FOR ALL USING (true);
    END IF;
    
    -- Payments policies
    IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE policyname = 'Allow all on payments') THEN
        CREATE POLICY "Allow all on payments" ON payments FOR ALL USING (true);
    END IF;
END $$;

-- Ensure due_date exists (for cases where student table existed without it)
DO $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='students' AND column_name='due_date') THEN
        ALTER TABLE students ADD COLUMN due_date DATE;
    END IF;
END $$;

-- VERIFICATION
SELECT table_name, table_schema 
FROM information_schema.tables 
WHERE table_name IN ('coaches', 'students', 'payments');

-- Create trigger on students table
DROP TRIGGER IF EXISTS encrypt_student_pii_trigger ON students;
CREATE TRIGGER encrypt_student_pii_trigger
  BEFORE INSERT OR UPDATE OF phone, parent_phone, email, address
  ON students
  FOR EACH ROW
  EXECUTE FUNCTION encrypt_student_pii();

-- View to decrypt PII for authorized users
CREATE OR REPLACE VIEW students_decrypted AS
SELECT 
  id,
  name,
  decrypt_pii(phone) as phone,
  decrypt_pii(parent_phone) as parent_phone,
  decrypt_pii(email) as email,
  age,
  grade,
  parent_name,
  decrypt_pii(address) as address,
  enrollment_date,
  status,
  coach_id,
  rating,
  session_mode,
  session_time,
  monthly_fee,
  notes,
  account_status,
  due_date,
  created_at,
  updated_at
FROM students;
-- =====================================================
-- ADD ATTENDANCE TABLE
-- Track student attendance history
-- =====================================================

-- Create Attendance Table
CREATE TABLE IF NOT EXISTS attendance (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  student_id TEXT REFERENCES students(id) ON DELETE CASCADE,
  status TEXT DEFAULT 'present',
  date DATE DEFAULT CURRENT_DATE,
  notes TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now())
);

-- Enable RLS
ALTER TABLE attendance ENABLE ROW LEVEL SECURITY;

-- Allow all access (admin dashboard via service role)
DROP POLICY IF EXISTS "Allow all on attendance" ON attendance;
CREATE POLICY "Allow all on attendance" ON attendance FOR ALL USING (true);

-- Index for faster queries by student and date
CREATE INDEX IF NOT EXISTS idx_attendance_student_date ON attendance(student_id, date DESC);
CREATE INDEX IF NOT EXISTS idx_attendance_date ON attendance(date DESC);
-- =====================================================
-- ADD MISSING COLUMNS TO STUDENTS TABLE
-- Monthly fee tracking and due dates
-- =====================================================

-- Add monthly_fee column if missing
DO $$
BEGIN
  IF NOT EXISTS (
    SELECT 1 FROM information_schema.columns 
    WHERE table_name = 'students' AND column_name = 'monthly_fee'
  ) THEN
    ALTER TABLE students ADD COLUMN monthly_fee INTEGER DEFAULT 5000;
    RAISE NOTICE 'Added monthly_fee column';
  END IF;
END $$;

-- Add due_date column if missing
DO $$
BEGIN
  IF NOT EXISTS (
    SELECT 1 FROM information_schema.columns 
    WHERE table_name = 'students' AND column_name = 'due_date'
  ) THEN
    ALTER TABLE students ADD COLUMN due_date DATE;
    RAISE NOTICE 'Added due_date column';
  END IF;
END $$;

-- Also ensure session_mode and session_time exist (should already be there, but safe check)
DO $$
BEGIN
  IF NOT EXISTS (
    SELECT 1 FROM information_schema.columns 
    WHERE table_name = 'students' AND column_name = 'session_mode'
  ) THEN
    ALTER TABLE students ADD COLUMN session_mode TEXT;
    RAISE NOTICE 'Added session_mode column';
  END IF;
END $$;

DO $$
BEGIN
  IF NOT EXISTS (
    SELECT 1 FROM information_schema.columns 
    WHERE table_name = 'students' AND column_name = 'session_time'
  ) THEN
    ALTER TABLE students ADD COLUMN session_time TEXT;
    RAISE NOTICE 'Added session_time column';
  END IF;
END $$;

-- Verify
SELECT column_name, data_type, column_default 
FROM information_schema.columns 
WHERE table_name = 'students' 
  AND column_name IN ('monthly_fee', 'due_date', 'session_mode', 'session_time')
ORDER BY ordinal_position;
-- =====================================================
-- FIX REVENUE: Robust monthly_fee backfill
-- Extracts numbers from notes like "Fee: 900", "fee:2000", "Fee 3500"
-- =====================================================

-- Backfill: extract first number after the word "fee" (case-insensitive)
UPDATE students
SET monthly_fee = 
  COALESCE(
    NULLIF(
      REGEXP_REPLACE(
        LOWER(notes),
        '.*?fee[^0-9]*([0-9]+).*',
        '\1'
      ),
      notes  -- If no replacement happened (pattern didn't match), this equals notes
    )::INTEGER,
    5000  -- Default fallback
  )
WHERE monthly_fee IS NULL OR monthly_fee = 0;

-- Check results
SELECT id, name, notes, monthly_fee, status
FROM students
ORDER BY monthly_fee DESC;
-- =====================================================
-- COMPLETE BACKFILL: monthly_fee from notes
-- Handles "Fee: 900", "fee:2000", "Fee 3500", etc.
-- =====================================================

UPDATE students
SET monthly_fee = 
  COALESCE(
    -- Try to extract number after "fee" (case-insensitive, optional colon/space)
    NULLIF(
      SUBSTRING(
        notes FROM '(?i)fee[\s:]*([0-9]+)'
      ), 
      notes
    )::INTEGER,
    -- If extraction fails, use 5000 default
    5000
  )
WHERE monthly_fee IS NULL OR monthly_fee = 0;

-- Verify results
SELECT id, name, notes, monthly_fee, status
FROM students
ORDER BY monthly_fee DESC;
-- =====================================================
-- FIX REVENUE: Add missing columns and backfill from notes
-- =====================================================

-- 1. Add missing columns (if not already present)
ALTER TABLE students ADD COLUMN IF NOT EXISTS monthly_fee INTEGER DEFAULT 0;
ALTER TABLE students ADD COLUMN IF NOT EXISTS due_date DATE;

-- 2. Backfill monthly_fee by parsing notes field
-- Extract the first number after "fee" (case insensitive)
UPDATE students
SET monthly_fee = 
  CASE 
    WHEN notes ~* 'fee[:\s]*([0-9]+)' THEN
      CAST(SUBSTRING(notes FROM 'fee[:\s]*([0-9]+)') AS INTEGER)
    ELSE 5000  -- Default fallback
  END
WHERE monthly_fee IS NULL OR monthly_fee = 0;

-- 3. Ensure default for future inserts
ALTER TABLE students ALTER COLUMN monthly_fee SET DEFAULT 5000;

-- 4. Verify
SELECT id, name, monthly_fee, notes 
FROM students 
WHERE monthly_fee > 0 
ORDER BY monthly_fee DESC 
LIMIT 10;
-- ==========================================
-- CHESSKIDOO PAYMENT AUTOMATION (CRON JOB)
-- ==========================================

-- 1. Enable pg_cron if available (requires superuser in some environments)
CREATE EXTENSION IF NOT EXISTS pg_cron;

-- 1.5 Add payment_status column to students table
ALTER TABLE public.students ADD COLUMN IF NOT EXISTS payment_status TEXT DEFAULT 'Pending';

-- 2. Refined Automation Function
-- This handles the transition from Pending to Due and resets Paid to Pending on the 1st
CREATE OR REPLACE FUNCTION public.automate_payment_rollover()
RETURNS void AS $$
DECLARE
    today_day INTEGER;
BEGIN
    today_day := EXTRACT(DAY FROM CURRENT_DATE);

    -- STEP A: Mark overdue students as 'Due'
    -- Runs every time the cron runs (daily)
    -- April 1, 2026 baseline (Month 4)
    UPDATE public.students 
    SET payment_status = 'Due' 
    WHERE (payment_status = 'Pending' OR payment_status IS NULL)
      AND (due_date < CURRENT_DATE OR (due_date IS NULL AND today_day > 5 AND CURRENT_DATE >= '2026-04-01')); 

    -- STEP B: On the 1st of the month, roll over 'Paid' to 'Pending' for the new month
    IF today_day = 1 THEN
        UPDATE public.students 
        SET payment_status = 'Pending'
        WHERE payment_status = 'Paid';
        
        -- Log the rollover event so the frontend can notify the admin
        INSERT INTO public.audit_logs (table_name, action, new_value)
        VALUES ('students', 'MONTHLY_ROLLOVER', jsonb_build_object('month', EXTRACT(MONTH FROM CURRENT_DATE), 'year', EXTRACT(YEAR FROM CURRENT_DATE)));
    END IF;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- 3. Schedule the job to run at 00:01 AM every day
-- Running daily is safer than once a month in case of temporary database downtime
SELECT cron.schedule('daily-payment-audit', '1 0 * * *', 'SELECT public.automate_payment_rollover()');

-- 4. Initial Run
SELECT public.automate_payment_rollover();
-- ============================================================
-- CHESSKIDOO PAYMENT AUTOMATION v3 â€” FULL SYSTEM
-- ============================================================

-- 1. Enable pg_cron extension
CREATE EXTENSION IF NOT EXISTS pg_cron;

-- ============================================================
-- STEP 1: ADD payment_status COLUMN to students if missing
-- ============================================================
DO $$
BEGIN
  IF NOT EXISTS (
    SELECT 1 FROM information_schema.columns
    WHERE table_name = 'students' AND column_name = 'payment_status'
  ) THEN
    ALTER TABLE students ADD COLUMN payment_status TEXT DEFAULT 'Pending';
    RAISE NOTICE 'Added payment_status column to students';
  END IF;
END $$;

-- ============================================================
-- STEP 2: PARAMETERIZED CLASSIFICATION FUNCTION
-- ============================================================
CREATE OR REPLACE FUNCTION public.update_payment_status(
  p_year   INT,
  p_month1 INT,
  p_month2 INT DEFAULT NULL
)
RETURNS JSONB AS $$
DECLARE
  v_month2 INT;
  v_paid   INT := 0;
  v_pending INT := 0;
  v_due    INT := 0;
BEGIN
  v_month2 := COALESCE(p_month2, p_month1);

  -- STEP A: Roll last cycle's Pending â†’ Due
  UPDATE public.students
  SET payment_status = 'Due'
  WHERE payment_status = 'Pending'
    AND id NOT IN (
      SELECT DISTINCT student_id FROM public.payments
      WHERE EXTRACT(YEAR  FROM payment_date::DATE) = p_year
        AND EXTRACT(MONTH FROM payment_date::DATE) IN (p_month1, v_month2)
        AND status = 'paid'
    );

  -- STEP B: Mark as Paid if they have a payment this cycle
  UPDATE public.students s
  SET payment_status = 'Paid'
  WHERE EXISTS (
    SELECT 1 FROM public.payments p
    WHERE p.student_id = s.id
      AND EXTRACT(YEAR  FROM p.payment_date::DATE) = p_year
      AND EXTRACT(MONTH FROM p.payment_date::DATE) IN (p_month1, v_month2)
      AND p.status = 'paid'
  );

  -- STEP C: Remaining â†’ Pending
  UPDATE public.students
  SET payment_status = 'Pending'
  WHERE payment_status NOT IN ('Paid', 'Due');

  SELECT COUNT(*) INTO v_paid   FROM public.students WHERE payment_status = 'Paid';
  SELECT COUNT(*) INTO v_pending FROM public.students WHERE payment_status = 'Pending';
  SELECT COUNT(*) INTO v_due    FROM public.students WHERE payment_status = 'Due';

  RETURN jsonb_build_object(
    'paid',    v_paid,
    'pending', v_pending,
    'due',     v_due,
    'year',    p_year,
    'month1',  p_month1,
    'month2',  v_month2,
    'run_at',  NOW()
  );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- ============================================================
-- STEP 3: DYNAMIC VIEW FUNCTION
-- ============================================================
CREATE OR REPLACE FUNCTION public.get_payment_status_for_cycle(
  p_year   INT,
  p_month1 INT,
  p_month2 INT DEFAULT NULL
)
RETURNS TABLE(
  student_id   TEXT,
  student_name TEXT,
  live_status  TEXT,
  monthly_fee  INT
) AS $$
DECLARE
  v_month2 INT;
BEGIN
  v_month2 := COALESCE(p_month2, p_month1);

  RETURN QUERY
  SELECT
    s.id                                   AS student_id,
    COALESCE(s.name, '')                   AS student_name,
    CASE
      WHEN EXISTS (
        SELECT 1 FROM public.payments p
        WHERE p.student_id = s.id
          AND EXTRACT(YEAR  FROM p.payment_date::DATE) = p_year
          AND EXTRACT(MONTH FROM p.payment_date::DATE) IN (p_month1, v_month2)
          AND p.status = 'paid'
      ) THEN 'Paid'
      WHEN s.payment_status = 'Due'
        OR (
          NOT EXISTS (
            SELECT 1 FROM public.payments p2
            WHERE p2.student_id = s.id
              AND p2.status = 'paid'
              AND p2.payment_date::DATE >= (
                DATE_TRUNC('month', TO_DATE(p_year||'-'||p_month1||'-01', 'YYYY-MM-DD'))
                - INTERVAL '1 month'
              )
              AND p2.payment_date::DATE <
                DATE_TRUNC('month', TO_DATE(p_year||'-'||p_month1||'-01', 'YYYY-MM-DD'))
          )
        )
      THEN 'Due'
      ELSE 'Pending'
    END                                    AS live_status,
    COALESCE(s.monthly_fee, 0)             AS monthly_fee
  FROM public.students s
  WHERE s.status = 'active';
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- ============================================================
-- STEP 4: CYCLE SUMMARY FUNCTION
-- ============================================================
CREATE OR REPLACE FUNCTION public.get_cycle_summary(
  p_year   INT,
  p_month1 INT,
  p_month2 INT DEFAULT NULL
)
RETURNS TABLE(
  status        TEXT,
  count         BIGINT,
  total_revenue BIGINT
) AS $$
DECLARE
  v_month2 INT;
BEGIN
  v_month2 := COALESCE(p_month2, p_month1);

  RETURN QUERY
  SELECT
    x.live_status                           AS status,
    COUNT(*)                                AS count,
    COALESCE(SUM(x.monthly_fee), 0)::BIGINT AS total_revenue
  FROM public.get_payment_status_for_cycle(p_year, p_month1, v_month2) x
  GROUP BY x.live_status;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- ============================================================
-- STEP 5: MONTHLY ROLLOVER FUNCTION
-- ============================================================
CREATE OR REPLACE FUNCTION public.monthly_rollover_job()
RETURNS JSONB AS $$
DECLARE
  v_result JSONB;
BEGIN
  SELECT public.update_payment_status(
    EXTRACT(YEAR  FROM CURRENT_DATE)::INT,
    EXTRACT(MONTH FROM CURRENT_DATE)::INT
  ) INTO v_result;

  INSERT INTO public.audit_logs(table_name, action, new_value)
  VALUES ('students', 'AUTO_PAYMENT_ROLLOVER', v_result);

  RETURN v_result;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- ============================================================
-- STEP 6: SCHEDULE CRON
-- ============================================================
SELECT cron.unschedule('monthly-payment-rollover') WHERE EXISTS (SELECT 1 FROM cron.job WHERE jobname = 'monthly-payment-rollover');
SELECT cron.unschedule('daily-payment-sync') WHERE EXISTS (SELECT 1 FROM cron.job WHERE jobname = 'daily-payment-sync');

SELECT cron.schedule(
  'monthly-payment-rollover',
  '1 0 1 * *',
  $$ SELECT public.monthly_rollover_job(); $$
);

SELECT cron.schedule(
  'daily-payment-sync',
  '5 0 * * *',
  $$ SELECT public.update_payment_status(
       EXTRACT(YEAR FROM CURRENT_DATE)::INT,
       EXTRACT(MONTH FROM CURRENT_DATE)::INT
     ); $$
);
-- Fix PostgREST View Parsing for Decrypted Students
-- By adding explicit casting and parentheses, we help PostgREST distinguish function calls from relationship embedding.

-- First ensure the decrypt_pii function exists
CREATE OR REPLACE FUNCTION decrypt_pii(value TEXT) RETURNS TEXT AS $$
  BEGIN
    -- Simple identity for now - encryption key should be set per deployment
    -- In production, this would decrypt using app.encryption_key
    RETURN COALESCE(value, '');
  END;
$$ LANGUAGE plpgsql IMMUTABLE;

CREATE OR REPLACE VIEW students_decrypted AS
SELECT 
    id,
    name,
    phone,
    parent_phone,
    email,
    age,
    grade,
    parent_name,
    address,
    enrollment_date,
    status,
    coach_id,
    rating,
    session_mode,
    session_time,
    monthly_fee,
    notes,
    account_status,
    due_date,
    created_at,
    updated_at
FROM students;

GRANT SELECT ON students_decrypted TO anon, authenticated, service_role;
-- ðŸ› ï¸ Complete Hardening & Integrity Fix
-- 1. Deduplicate payments (keeping only the earliest record per transaction_id)
DELETE FROM payments a
USING payments b
WHERE a.ctid > b.ctid 
  AND a.transaction_id = b.transaction_id 
  AND a.transaction_id IS NOT NULL;

-- 2. Add unique index to prevent future duplicates on transaction_id
CREATE UNIQUE INDEX IF NOT EXISTS uniq_transaction_idx ON payments (transaction_id) WHERE transaction_id IS NOT NULL;

-- 3. Normalise student fees into monthly_fee column
-- The students table already has monthly_fee as the primary fee column
-- This ensures any NULL or zero values get set to default 5000
UPDATE students 
SET monthly_fee = 5000
WHERE monthly_fee IS NULL OR monthly_fee = 0;

-- Drop redundant columns (Backup logic: we only drop if monthly_fee is now populated)
-- ALTER TABLE students DROP COLUMN IF EXISTS fee;
-- ALTER TABLE students DROP COLUMN IF EXISTS fees;
-- ALTER TABLE students DROP COLUMN IF EXISTS tuition_fee;

-- 4. Set missing student status to active
UPDATE students SET status = 'active' WHERE status IS NULL OR status = 'pending';

-- 5. Force update to trigger encryption for all rows (requires app.encryption_key to be set)
-- UPDATE students SET phone = phone, parent_phone = parent_phone, email = email, address = address;

-- 6. Set missing coach salaries
-- NOTE: The coaches table uses hourly_rate as primary salary field.
-- If a separate salary column is needed, uncomment and add column first.
-- UPDATE coaches SET salary = COALESCE(salary, hourly_rate, 0);

-- 7. Create rating_history table if not exists
CREATE TABLE IF NOT EXISTS rating_history (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  student_id TEXT REFERENCES students(id) ON DELETE CASCADE,
  rating INTEGER NOT NULL,
  old_rating INTEGER,
  change_type TEXT,
  notes TEXT,
  recorded_at TIMESTAMPTZ DEFAULT now()
);

-- 8. Enable RLS on core tables
ALTER TABLE students ENABLE ROW LEVEL SECURITY;
ALTER TABLE payments ENABLE ROW LEVEL SECURITY;
ALTER TABLE coaches ENABLE ROW LEVEL SECURITY;
ALTER TABLE events ENABLE ROW LEVEL SECURITY;
ALTER TABLE achievements ENABLE ROW LEVEL SECURITY;
ALTER TABLE messages ENABLE ROW LEVEL SECURITY;
ALTER TABLE rating_history ENABLE ROW LEVEL SECURITY;

-- NOTE: Do NOT create permissive "Allow authenticated" policies here.
-- Use secure-rls-v2.sql instead which implements proper anon restrictions.
-- Permissive policies would bypass the security model.
-- DO NOT RUN THE POLICY LOOP FROM THIS FILE.

-- 9. Add missing performance indexes
CREATE INDEX IF NOT EXISTS idx_payments_payment_date ON payments (payment_date DESC);
CREATE INDEX IF NOT EXISTS idx_payments_student_id ON payments (student_id);
CREATE INDEX IF NOT EXISTS idx_payments_status ON payments (status);
CREATE INDEX IF NOT EXISTS idx_rate_limits_key ON rate_limits (key);
CREATE INDEX IF NOT EXISTS idx_rate_limits_timestamp ON rate_limits (timestamp);

-- 10. Cast payments.amount to NUMERIC if it was text
-- Uncomment and run this if amount column is currently TEXT
-- ALTER TABLE payments ALTER COLUMN amount TYPE NUMERIC USING amount::NUMERIC;
-- IMPORTANT: Run this separately after verifying current column type.
-- ðŸ‡ºðŸ‡¸ Add country_code to students table for international phone support
-- This enables storing the selected country for each student's phone number
-- Default: 'IN' (India) for existing records

-- 1. Add column with default
ALTER TABLE students ADD COLUMN IF NOT EXISTS country_code TEXT DEFAULT 'IN';

-- 2. Backfill existing null values to 'IN'
UPDATE students 
SET country_code = 'IN' 
WHERE country_code IS NULL;

-- 3. Update the decrypt view to include country_code
CREATE OR REPLACE VIEW students_decrypted AS
SELECT 
  id,
  name,
  decrypt_pii(phone) as phone,
  decrypt_pii(parent_phone) as parent_phone,
  decrypt_pii(email) as email,
  age,
  grade,
  parent_name,
  decrypt_pii(address) as address,
  country_code,
  enrollment_date,
  status,
  coach_id,
  rating,
  session_mode,
  session_time,
  monthly_fee,
  notes,
  account_status,
  due_date,
  created_at,
  updated_at
FROM students;

-- 4. Ensure country_code is included in API responses by updating transform function if needed
-- (Frontend will read country_code from the API response)
-- =====================================================
-- CHESSKIDOO ACADEMY â€” Expenditure Management Module
-- Run in: Supabase SQL Editor (Dashboard â†’ SQL Editor)
-- Date: 2026-05-11
-- =====================================================

-- 1. TABLE CREATION
CREATE TABLE IF NOT EXISTS expenditures (
  id            UUID        PRIMARY KEY DEFAULT gen_random_uuid(),
  date          DATE        NOT NULL DEFAULT CURRENT_DATE,
  category      TEXT        NOT NULL DEFAULT 'Miscellaneous',
  description   TEXT        NOT NULL,
  amount        NUMERIC(12, 2) NOT NULL CHECK (amount > 0),
  payment_mode  TEXT        NOT NULL DEFAULT 'Cash',
  bill_url      TEXT,
  created_at    TIMESTAMPTZ NOT NULL DEFAULT timezone('utc', now()),
  updated_at    TIMESTAMPTZ NOT NULL DEFAULT timezone('utc', now()),

  CONSTRAINT expenditures_category_check CHECK (
    category IN (
      'Rent', 'Coach Salary', 'Equipment', 'Snacks', 'Travel',
      'Tournament', 'Utilities', 'Marketing', 'Maintenance',
      'Platform & Software', 'Miscellaneous'
    )
  ),
  CONSTRAINT expenditures_payment_mode_check CHECK (
    payment_mode IN ('Cash', 'UPI', 'Bank Transfer', 'Card', 'Cheque')
  )
);

-- 2. INDEXES
CREATE INDEX IF NOT EXISTS idx_expenditures_date     ON expenditures(date DESC);
CREATE INDEX IF NOT EXISTS idx_expenditures_category ON expenditures(category);
CREATE INDEX IF NOT EXISTS idx_expenditures_created  ON expenditures(created_at DESC);

-- 3. AUTO-UPDATE updated_at trigger
CREATE OR REPLACE FUNCTION update_expenditures_updated_at()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = timezone('utc', now());
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS trg_expenditures_updated_at ON expenditures;
CREATE TRIGGER trg_expenditures_updated_at
  BEFORE UPDATE ON expenditures
  FOR EACH ROW EXECUTE FUNCTION update_expenditures_updated_at();

-- 4. ROW LEVEL SECURITY
ALTER TABLE expenditures ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow all on expenditures" ON expenditures;
CREATE POLICY "Allow all on expenditures"
  ON expenditures FOR ALL USING (true);

-- 5. SAMPLE DATA â€” only inserted once, on a fresh empty table.
--    FIX: previous version had `ON CONFLICT DO NOTHING` against a UUID-default PK with no
--    deterministic unique key, so each re-run inserted 8 fresh duplicates. Now guarded
--    by an existence check so re-running this migration is safe.
INSERT INTO expenditures (date, category, description, amount, payment_mode)
SELECT * FROM (VALUES
  (CURRENT_DATE - INTERVAL '2 days', 'Rent',         'Monthly academy hall rent - May 2026',              12000::NUMERIC, 'Bank Transfer'),
  (CURRENT_DATE - INTERVAL '5 days', 'Coach Salary', 'Coach Priya salary - May 2026',                      8000::NUMERIC, 'Bank Transfer'),
  (CURRENT_DATE - INTERVAL '7 days', 'Equipment',    'Chess sets x10 + DGT boards x2',                    4500::NUMERIC, 'UPI'),
  (CURRENT_DATE - INTERVAL '9 days', 'Snacks',       'Student refreshments for weekend tournament prep',    800::NUMERIC, 'Cash'),
  (CURRENT_DATE - INTERVAL '12 days','Tournament',   'FIDE rated event registration fees - 5 students',   2500::NUMERIC, 'UPI'),
  (CURRENT_DATE - INTERVAL '15 days','Utilities',    'Internet + electricity for hall - April billing',   1200::NUMERIC, 'Bank Transfer'),
  (CURRENT_DATE - INTERVAL '20 days','Travel',       'Coach travel reimbursement - outstation match',      600::NUMERIC, 'Cash'),
  (CURRENT_DATE - INTERVAL '25 days','Marketing',    'Instagram / Google Ads spend - April',              1800::NUMERIC, 'UPI')
) AS seed(date, category, description, amount, payment_mode)
WHERE NOT EXISTS (SELECT 1 FROM expenditures LIMIT 1);

SELECT 'Expenditures table ready! âœ…' AS result;
-- Add img_url column to achievements table
ALTER TABLE achievements ADD COLUMN IF NOT EXISTS img_url TEXT;
-- Create audit_logs table for tracking login attempts and actions
CREATE TABLE IF NOT EXISTS audit_logs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  table_name TEXT NOT NULL,
  record_id TEXT,
  action TEXT NOT NULL,
  old_value JSONB,
  new_value JSONB,
  user_name TEXT,
  user_role TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now())
);

-- Create user_sessions table
CREATE TABLE IF NOT EXISTS user_sessions (
  id TEXT PRIMARY KEY,
  user_name TEXT NOT NULL,
  role TEXT,
  student_id TEXT,
  login_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()),
  logout_at TIMESTAMP WITH TIME ZONE,
  active BOOLEAN DEFAULT true
);

-- Create indexes
CREATE INDEX IF NOT EXISTS idx_audit_logs_action ON audit_logs(action);
CREATE INDEX IF NOT EXISTS idx_audit_logs_created ON audit_logs(created_at DESC);
CREATE INDEX IF NOT EXISTS idx_user_sessions_active ON user_sessions(active);
CREATE INDEX IF NOT EXISTS idx_user_sessions_user ON user_sessions(user_name);

-- Enable RLS
ALTER TABLE audit_logs ENABLE ROW LEVEL SECURITY;
ALTER TABLE user_sessions ENABLE ROW LEVEL SECURITY;

-- Allow anon reads
CREATE POLICY "Allow audit read" ON audit_logs FOR SELECT USING (true);
CREATE POLICY "Allow sessions read" ON user_sessions FOR SELECT USING (true);
CREATE POLICY "Allow sessions insert" ON user_sessions FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow sessions update" ON user_sessions FOR UPDATE USING (true);
-- =====================================================
-- CHESSKIDOO DATABASE SETUP - Run this in Supabase SQL Editor
-- =====================================================

-- 1. AUDIT LOGS TABLE - For tracking failed logins and actions
CREATE TABLE IF NOT EXISTS audit_logs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  table_name TEXT NOT NULL,
  record_id TEXT,
  action TEXT NOT NULL,
  old_value JSONB,
  new_value JSONB,
  user_name TEXT,
  user_role TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT now()
);

-- 2. USER SESSIONS TABLE - For tracking currently online users
CREATE TABLE IF NOT EXISTS user_sessions (
  id TEXT PRIMARY KEY,
  user_name TEXT NOT NULL,
  role TEXT,
  student_id TEXT,
  login_at TIMESTAMP WITH TIME ZONE DEFAULT now(),
  logout_at TIMESTAMP WITH TIME ZONE,
  active BOOLEAN DEFAULT TRUE
);

-- =====================================================
-- INDEXES - For faster queries
-- =====================================================

CREATE INDEX IF NOT EXISTS idx_audit_logs_action ON audit_logs(action);
CREATE INDEX IF NOT EXISTS idx_audit_logs_created ON audit_logs(created_at DESC);
CREATE INDEX IF NOT EXISTS idx_audit_logs_user ON audit_logs(user_name);
CREATE INDEX IF NOT EXISTS idx_user_sessions_active ON user_sessions(active);
CREATE INDEX IF NOT EXISTS idx_user_sessions_user ON user_sessions(user_name);
CREATE INDEX IF NOT EXISTS idx_user_sessions_login ON user_sessions(login_at DESC);

-- =====================================================
-- ROW LEVEL SECURITY (RLS)
-- =====================================================

ALTER TABLE audit_logs ENABLE ROW LEVEL SECURITY;
ALTER TABLE user_sessions ENABLE ROW LEVEL SECURITY;

-- Allow public read access to audit logs and sessions
DROP POLICY IF EXISTS "Allow public read audit" ON audit_logs;
CREATE POLICY "Allow public read audit" ON audit_logs FOR SELECT USING (TRUE);

DROP POLICY IF EXISTS "Allow public read sessions" ON user_sessions;
CREATE POLICY "Allow public read sessions" ON user_sessions FOR SELECT USING (TRUE);

DROP POLICY IF EXISTS "Allow public insert sessions" ON user_sessions;
CREATE POLICY "Allow public insert sessions" ON user_sessions FOR INSERT WITH CHECK (TRUE);

DROP POLICY IF EXISTS "Allow public update sessions" ON user_sessions;
CREATE POLICY "Allow public update sessions" ON user_sessions FOR UPDATE USING (TRUE);

-- =====================================================
-- CONFIRMATION
-- =====================================================

SELECT 'Tables created successfully!' as status;

-- Verify tables exist
SELECT table_name, table_type 
FROM information_schema.tables 
WHERE table_schema = 'public' 
AND table_name IN ('audit_logs', 'user_sessions', 'students', 'coaches', 'messages', 'payments', 'achievements', 'events', 'attendance');
ALTER ROLE authenticator SET statement_timeout = '30s'; ALTER ROLE anon SET statement_timeout = '30s'; ALTER ROLE authenticated SET statement_timeout = '30s';
-- Advanced Event Manager Migration

-- We add a new JSONB column to store detailed student registrations (name, payment status, attendance, etc.)
-- This avoids breaking backwards compatibility with the old string array if any old code relies on it.

ALTER TABLE events ADD COLUMN IF NOT EXISTS registrations_data JSONB DEFAULT '[]'::jsonb;
ALTER TABLE events ADD COLUMN IF NOT EXISTS is_advanced BOOLEAN DEFAULT true;
-- Migration to add event fee, prize, map_url, and img_url columns to events table
ALTER TABLE events ADD COLUMN IF NOT EXISTS fee INTEGER DEFAULT 0;
ALTER TABLE events ADD COLUMN IF NOT EXISTS prize TEXT;
ALTER TABLE events ADD COLUMN IF NOT EXISTS prize_pool TEXT;
ALTER TABLE events ADD COLUMN IF NOT EXISTS map_url TEXT;
ALTER TABLE events ADD COLUMN IF NOT EXISTS img_url TEXT;
-- =====================================================
-- Distributed rate-limit storage for edge functions
-- Date: 2026-05-30
-- Reason: supabase/functions/*/rate_limit.js queries this table to
--         enforce per-IP / per-key request quotas across instances.
--         Live probe confirmed the table did not exist on the project,
--         so every call was falling back to in-memory state (which is
--         lost between cold starts and not shared across functions).
-- Idempotent: safe to re-run.
-- =====================================================

CREATE TABLE IF NOT EXISTS rate_limits (
  id         UUID        PRIMARY KEY DEFAULT gen_random_uuid(),
  key        TEXT        NOT NULL,
  endpoint   TEXT        NOT NULL DEFAULT 'default',
  timestamp  TIMESTAMPTZ NOT NULL DEFAULT timezone('utc', now())
);

-- Hot lookup path: (key, timestamp >= window_start)
CREATE INDEX IF NOT EXISTS idx_rate_limits_key_ts
  ON rate_limits (key, timestamp DESC);

-- Sweep path: delete rows older than window
CREATE INDEX IF NOT EXISTS idx_rate_limits_ts
  ON rate_limits (timestamp);

-- Optional: endpoint scoping
CREATE INDEX IF NOT EXISTS idx_rate_limits_endpoint
  ON rate_limits (endpoint, timestamp DESC);

-- RLS: only service_role should ever read/write this. Anon/auth must be denied.
ALTER TABLE rate_limits ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "service_role only" ON rate_limits;
CREATE POLICY "service_role only" ON rate_limits
  FOR ALL
  TO service_role
  USING (true)
  WITH CHECK (true);

-- Optional GC helper (call from a cron or pg_cron job to keep the table tiny)
CREATE OR REPLACE FUNCTION cleanup_old_rate_limits(older_than_minutes INTEGER DEFAULT 60)
RETURNS INTEGER AS $$
DECLARE
  deleted_count INTEGER;
BEGIN
  DELETE FROM rate_limits
  WHERE timestamp < timezone('utc', now()) - (older_than_minutes || ' minutes')::INTERVAL;
  GET DIAGNOSTICS deleted_count = ROW_COUNT;
  RETURN deleted_count;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

SELECT 'rate_limits table ready' AS result;
-- ============================================================
-- CHESSKIDOO PAYMENT SYSTEM v4 â€” DEBT-FIRST + CREDIT ENGINE
-- ============================================================
-- Adds: credit_balance, billing_anchor, allocation ledger,
--       debt-first payment application, advance payment support.
-- ============================================================

-- ============================================================
-- STEP 1: ADD NEW COLUMNS TO students
-- ============================================================
DO $$
BEGIN
  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='students' AND column_name='credit_balance') THEN
    ALTER TABLE students ADD COLUMN credit_balance NUMERIC DEFAULT 0;
  END IF;
  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='students' AND column_name='outstanding_balance') THEN
    ALTER TABLE students ADD COLUMN outstanding_balance NUMERIC DEFAULT 0;
  END IF;
  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='students' AND column_name='billing_anchor_year') THEN
    ALTER TABLE students ADD COLUMN billing_anchor_year INT;
  END IF;
  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='students' AND column_name='billing_anchor_month') THEN
    ALTER TABLE students ADD COLUMN billing_anchor_month INT;
  END IF;
  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='students' AND column_name='last_payment_applied_month') THEN
    ALTER TABLE students ADD COLUMN last_payment_applied_month TEXT;
  END IF;
END $$;

-- Add applied_month to payments so frontend can do advance-aware counting
DO $$
BEGIN
  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='payments' AND column_name='applied_month') THEN
    ALTER TABLE payments ADD COLUMN applied_month TEXT;
    RAISE NOTICE 'Added applied_month to payments';
  END IF;
END $$;

-- ============================================================
-- STEP 2: PAYMENT ALLOCATION LEDGER
-- ============================================================
CREATE TABLE IF NOT EXISTS payment_allocations (
  id TEXT PRIMARY KEY DEFAULT gen_random_uuid()::TEXT,
  payment_id TEXT REFERENCES payments(id) ON DELETE CASCADE,
  student_id TEXT REFERENCES students(id) ON DELETE CASCADE,
  allocated_month TEXT NOT NULL,
  amount NUMERIC NOT NULL,
  allocation_type TEXT DEFAULT 'DIRECT',
  created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()),
  description TEXT
);

CREATE INDEX IF NOT EXISTS idx_payment_alloc_student ON payment_allocations(student_id);
CREATE INDEX IF NOT EXISTS idx_payment_alloc_month ON payment_allocations(allocated_month);

ALTER TABLE payment_allocations ENABLE ROW LEVEL SECURITY;
DO $$
BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE policyname = 'Allow all on payment_allocations' AND tablename = 'payment_allocations') THEN
    CREATE POLICY "Allow all on payment_allocations" ON payment_allocations FOR ALL USING (true);
  END IF;
END $$;

-- ============================================================
-- STEP 3: BACKFILL billing_anchor for existing students
-- Late-join >= day 26 => billing starts next month
-- ============================================================
DO $$
DECLARE
  r RECORD;
  v_enroll_date DATE;
  v_baseline DATE := DATE '2026-04-01';
  v_year INT;
  v_month INT;
BEGIN
  FOR r IN SELECT id, enrollment_date, created_at FROM students WHERE billing_anchor_year IS NULL LOOP
    v_enroll_date := COALESCE(
      r.enrollment_date::DATE,
      r.created_at::DATE,
      v_baseline
    );
    IF v_enroll_date < v_baseline THEN v_enroll_date := v_baseline; END IF;
    v_year := EXTRACT(YEAR FROM v_enroll_date)::INT;
    v_month := EXTRACT(MONTH FROM v_enroll_date)::INT;
    IF EXTRACT(DAY FROM v_enroll_date) >= 26 THEN
      v_month := v_month + 1;
      IF v_month > 12 THEN v_month := 1; v_year := v_year + 1; END IF;
    END IF;
    UPDATE students SET billing_anchor_year = v_year, billing_anchor_month = v_month WHERE id = r.id;
  END LOOP;
END $$;

-- ============================================================
-- STEP 4: apply_payment_debt_first
-- Core function: clear oldest overdue debts first, then current, then roll excess forward
-- ============================================================
CREATE OR REPLACE FUNCTION public.apply_payment_debt_first(
  p_student_id  TEXT,
  p_payment_id  TEXT,
  p_amount       NUMERIC,
  p_paid_on      TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  p_target_month TEXT DEFAULT NULL
)
RETURNS JSONB AS $$
DECLARE
  v_student    RECORD;
  v_anchor_year INT;
  v_anchor_month INT;
  v_target_key TEXT;
  v_target_year INT;
  v_target_month_num INT;
  v_remaining NUMERIC := p_amount;
  v_allocated NUMERIC := 0;
  v_result JSONB := '[]'::JSONB;
  v_owed NUMERIC;
  v_allocation NUMERIC;
  v_fee NUMERIC;
  v_next_month_num INT;
  v_next_year INT;
  v_next_key TEXT;
  v_cursor_year INT;
  v_cursor_month_num INT;
  v_cursor_key TEXT;
BEGIN
  SELECT * INTO v_student FROM students WHERE id = p_student_id;
  IF NOT FOUND THEN RETURN jsonb_build_object('error', 'Student not found'); END IF;

  v_anchor_year := COALESCE(v_student.billing_anchor_year, EXTRACT(YEAR FROM CURRENT_DATE)::INT);
  v_anchor_month := COALESCE(v_student.billing_anchor_month, EXTRACT(MONTH FROM CURRENT_DATE)::INT);
  v_fee := COALESCE(v_student.monthly_fee, 5000);

  IF p_target_month IS NULL THEN
    v_target_key := TO_CHAR(CURRENT_DATE, 'YYYY-MM');
  ELSE
    v_target_key := p_target_month;
  END IF;
  v_target_year := SUBSTRING(v_target_key FROM 1 FOR 4)::INT;
  v_target_month_num := SUBSTRING(v_target_key FROM 6 FOR 2)::INT;

  -- DEBT-FIRST: iterate from anchor to just before target month
  v_cursor_year := v_anchor_year;
  v_cursor_month_num := v_anchor_month;

  WHILE (v_cursor_year < v_target_year OR (v_cursor_year = v_target_year AND v_cursor_month_num < v_target_month_num))
    AND v_remaining > 0 LOOP

    v_cursor_key := v_cursor_year || '-' || LPAD(v_cursor_month_num::TEXT, 2, '0');

    SELECT COALESCE(SUM(amount), 0) INTO v_owed
    FROM payment_allocations
    WHERE student_id = p_student_id AND allocated_month = v_cursor_key;

    IF COALESCE(v_owed, 0) < v_fee THEN
      v_owed := v_fee - COALESCE(v_owed, 0);

      IF v_remaining >= v_owed THEN
        v_allocation := v_owed;
        v_remaining := v_remaining - v_owed;
      ELSE
        v_allocation := v_remaining;
        v_remaining := 0;
      END IF;

      INSERT INTO payment_allocations (payment_id, student_id, allocated_month, amount, allocation_type, description)
      VALUES (p_payment_id, p_student_id, v_cursor_key, v_allocation, 'DEBT_CLEAR',
              'Applied to ' || v_cursor_key);

      v_result := v_result || jsonb_build_object('month', v_cursor_key, 'allocated', v_allocation, 'type', 'DEBT_CLEAR');
      v_allocated := v_allocated + v_allocation;
    END IF;

    v_cursor_month_num := v_cursor_month_num + 1;
    IF v_cursor_month_num > 12 THEN v_cursor_month_num := 1; v_cursor_year := v_cursor_year + 1; END IF;
  END LOOP;

  -- Phase 2: Apply to target
  IF v_remaining > 0 THEN
    SELECT COALESCE(SUM(amount), 0) INTO v_owed
    FROM payment_allocations
    WHERE student_id = p_student_id AND allocated_month = v_target_key;
    v_owed := v_fee - COALESCE(v_owed, 0);

    IF v_remaining >= v_owed THEN
      v_allocation := v_owed;
      v_remaining := v_remaining - v_owed;
    ELSE
      v_allocation := v_remaining;
      v_remaining := 0;
    END IF;

    INSERT INTO payment_allocations (payment_id, student_id, allocated_month, amount, allocation_type, description)
    VALUES (p_payment_id, p_student_id, v_target_key, v_allocation, 'DIRECT',
            'Applied to ' || v_target_key);

    v_result := v_result || jsonb_build_object('month', v_target_key, 'allocated', v_allocation, 'type', 'DIRECT');
    v_allocated := v_allocated + v_allocation;
  END IF;

  -- Phase 3: Roll excess forward
  IF v_remaining > 0 THEN
    v_next_month_num := v_target_month_num + 1;
    v_next_year := v_target_year;
    IF v_next_month_num > 12 THEN v_next_month_num := 1; v_next_year := v_next_year + 1; END IF;
    v_next_key := v_next_year || '-' || LPAD(v_next_month_num::TEXT, 2, '0');

    INSERT INTO payment_allocations (payment_id, student_id, allocated_month, amount, allocation_type, description)
    VALUES (p_payment_id, p_student_id, v_next_key, v_remaining, 'CREDIT_ROLLOVER',
            'Excess from ' || v_target_key || ' rolled forward to ' || v_next_key);

    v_result := v_result || jsonb_build_object('month', v_next_key, 'allocated', v_remaining, 'type', 'CREDIT_ROLLOVER');
    v_allocated := v_allocated + v_remaining;
    v_remaining := 0;
  END IF;

  -- Update denormalized student fields
  UPDATE payments SET applied_month = v_target_key WHERE id = p_payment_id;

  UPDATE students SET
    credit_balance = 0,
    last_payment_applied_month = v_target_key
  WHERE id = p_student_id;

  RETURN jsonb_build_object(
    'allocations', v_result,
    'carry_forward', v_remaining,
    'total_allocated', v_allocated,
    'target_month', v_target_key
  );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- ============================================================
-- STEP 5: get_student_financial_state
-- ============================================================
CREATE OR REPLACE FUNCTION public.get_student_financial_state(
  p_student_id TEXT,
  p_month TEXT DEFAULT NULL
)
RETURNS JSONB AS $$
DECLARE
  v_student RECORD;
  v_month TEXT;
  v_year INT;
  v_month_num INT;
  v_anchor_year INT;
  v_anchor_month INT;
  v_fee NUMERIC;
  v_month_allocated NUMERIC;
  v_credit NUMERIC;
  v_status TEXT;
  v_due_date DATE;
  v_today DATE := CURRENT_DATE;
  v_days_late INT;
BEGIN
  SELECT * INTO v_student FROM students WHERE id = p_student_id;
  IF NOT FOUND THEN RETURN jsonb_build_object('error', 'Student not found'); END IF;

  v_fee := COALESCE(v_student.monthly_fee, 5000);
  v_credit := COALESCE(v_student.credit_balance, 0);
  v_anchor_year := COALESCE(v_student.billing_anchor_year, EXTRACT(YEAR FROM v_today)::INT);
  v_anchor_month := COALESCE(v_student.billing_anchor_month, EXTRACT(MONTH FROM v_today)::INT);

  IF p_month IS NULL THEN
    v_month := TO_CHAR(v_today, 'YYYY-MM');
  ELSE
    v_month := p_month;
  END IF;
  v_year := SUBSTRING(v_month FROM 1 FOR 4)::INT;
  v_month_num := SUBSTRING(v_month FROM 6 FOR 2)::INT;

  SELECT COALESCE(SUM(amount), 0) INTO v_month_allocated
  FROM payment_allocations
  WHERE student_id = p_student_id AND allocated_month = v_month;

  v_due_date := COALESCE(v_student.due_date, MAKE_DATE(v_year, v_month_num, 5));

  IF v_month_allocated >= v_fee THEN
    v_status := 'Paid';
  ELSIF v_today < v_due_date THEN
    v_status := 'Pending';
  ELSE
    v_days_late := (v_today - v_due_date);
    IF v_days_late > 5 THEN
      v_status := 'Overdue';
    ELSE
      v_status := 'Due';
    END IF;
  END IF;

  RETURN jsonb_build_object(
    'student_id', p_student_id,
    'month', v_month,
    'monthly_fee', v_fee,
    'month_allocated', v_month_allocated,
    'month_outstanding', GREATEST(0, v_fee - v_month_allocated),
    'credit_balance', v_credit,
    'status', v_status,
    'due_date', TO_CHAR(v_due_date, 'YYYY-MM-DD'),
    'billing_anchor', v_anchor_year || '-' || LPAD(v_anchor_month::TEXT, 2, '0')
  );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- ============================================================
-- STEP 6: monthly_rollover_job_v4
-- ============================================================
CREATE OR REPLACE FUNCTION public.monthly_rollover_job_v4()
RETURNS JSONB AS $$
DECLARE
  v_today DATE := CURRENT_DATE;
  v_old_month TEXT := TO_CHAR((v_today - INTERVAL '1 month'), 'YYYY-MM');
  v_new_month TEXT := TO_CHAR(v_today, 'YYYY-MM');
  v_student RECORD;
  v_old_allocated NUMERIC;
  v_fee NUMERIC;
  v_carry_credit NUMERIC := 0;
  v_new_status TEXT;
  v_count INT := 0;
  v_due_date DATE;
  v_days_late INT;
BEGIN
  FOR v_student IN SELECT * FROM students WHERE status = 'active' LOOP
    v_fee := COALESCE(v_student.monthly_fee, 5000);

    SELECT COALESCE(SUM(amount), 0) INTO v_old_allocated
    FROM payment_allocations
    WHERE student_id = v_student.id AND allocated_month = v_old_month;

    IF v_old_allocated >= v_fee THEN
      v_carry_credit := v_old_allocated - v_fee;
      IF v_carry_credit > 0 THEN
        INSERT INTO payment_allocations (student_id, allocated_month, amount, allocation_type, description)
        VALUES (v_student.id, v_new_month, v_carry_credit, 'CREDIT_ROLLOVER',
          'Auto-rollover credit from ' || v_old_month);
      END IF;
      v_new_status := 'Paid';
    ELSE
      v_carry_credit := 0;
      v_due_date := COALESCE(v_student.due_date, MAKE_DATE(EXTRACT(YEAR FROM v_today)::INT, EXTRACT(MONTH FROM v_today)::INT, 5));
      IF v_today < v_due_date THEN
        v_new_status := 'Pending';
      ELSE
        v_days_late := (v_today - v_due_date);
        IF v_days_late > 5 THEN
          v_new_status := 'Overdue';
        ELSE
          v_new_status := 'Due';
        END IF;
      END IF;
    END IF;

    v_count := v_count + 1;

    UPDATE students SET
      credit_balance = GREATEST(0, v_carry_credit),
      payment_status = v_new_status,
      last_payment_applied_month = v_new_month
    WHERE id = v_student.id;
  END LOOP;

  INSERT INTO audit_logs(table_name, action, new_value)
  VALUES ('students', 'MONTHLY_ROLLOVER_V4', jsonb_build_object('old_month', v_old_month, 'new_month', v_new_month, 'count', v_count));

  RETURN jsonb_build_object('old_month', v_old_month, 'new_month', v_new_month, 'count', v_count);
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- ============================================================
-- STEP 7: TRIGGER â€” log allocation changes (outstanding_balance maintained by RPC)
-- ============================================================
CREATE OR REPLACE FUNCTION public.recalc_student_balances()
RETURNS TRIGGER AS $$
DECLARE
  sid TEXT;
BEGIN
  IF TG_OP = 'DELETE' THEN
    sid := OLD.student_id;
  ELSE
    sid := NEW.student_id;
  END IF;

  -- outstanding_balance is maintained by apply_payment_debt_first and monthly_rollover_job_v4
  -- This trigger only exists as a hook point if future logic needs to react to allocation changes.

  RETURN CASE TG_OP WHEN 'DELETE' THEN OLD ELSE NEW END;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS recalc_balances_trigger ON payment_allocations;
CREATE TRIGGER recalc_balances_trigger
  AFTER INSERT OR UPDATE OR DELETE ON payment_allocations
  FOR EACH ROW EXECUTE FUNCTION public.recalc_student_balances();

-- ============================================================
-- STEP 8: CRON SCHEDULES
-- ============================================================
SELECT cron.unschedule('monthly-payment-rollover') WHERE EXISTS (SELECT 1 FROM cron.job WHERE jobname = 'monthly-payment-rollover');
SELECT cron.unschedule('daily-payment-sync') WHERE EXISTS (SELECT 1 FROM cron.job WHERE jobname = 'daily-payment-sync');

SELECT cron.schedule('monthly-payment-rollover-v4', '1 0 1 * *', $$ SELECT public.monthly_rollover_job_v4(); $$);
SELECT cron.schedule('daily-payment-sync-v4', '5 0 * * *', $$ SELECT public.update_payment_status(EXTRACT(YEAR FROM CURRENT_DATE)::INT, EXTRACT(MONTH FROM CURRENT_DATE)::INT); $$);
-- Add homework_notes table
CREATE TABLE IF NOT EXISTS public.homework_notes (
    id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    student_id BIGINT REFERENCES public.students(id) ON DELETE CASCADE,
    topic TEXT NOT NULL,
    notes TEXT,
    status TEXT DEFAULT 'pending' CHECK (status IN ('pending', 'completed')),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Add password column to students if not exists
DO $$ 
BEGIN
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns 
                   WHERE table_name='students' AND column_name='password') THEN
        ALTER TABLE public.students ADD COLUMN password TEXT;
    END IF;
END $$;
